section{
    padding: 100px 10%;
}

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4em;
}

.home-img{
    height: 550px;
    width: 500px; 
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}
.change-text{
    font-size: 1.5rem;
    font-weight: 600;
}
.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.fade-in{
    transition: opacity 1.5s ease-in-out;
    transition: 0.38s ease;
}
.fade-out{
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
   
}
#changing-word{
    margin-left: 6px;
}