@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

:root{
  --text-color:rgb(241, 226, 226);
  --hover-color:#12f7ff;
  --bg-color:#250821;
  --secon-bg-color:#292e33;
  --big-font:2.5rem;
  --norma-font:2rem;
  --neon-box-shadow:0 0 0.5rem;
  --h2-font:3rem;
  --font-neon-text-shadow:0 0 10px rgba(18,247,255,0.3),
  0 0 20px rgba(18,247,255,0.3), 
  0 0 30px rgba(18,247,255,0.3), 
  0 0 40px rgba(18,247,255,0.3), 
  0 0 70px rgba(18,247,255,0.3), 
  0 0 80px rgba(18,247,255,0.3), 
  0 0 100px rgba(18,247,255,0.3), 
  0 0 150px rgba(18,247,255,0.3);
}

body{
  font-family: "poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}